In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Poder mostrar todas las filas y columnas del dataframe
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Librerias para hacer WebScraping

In [3]:
pip install LanusStats

Requirement already satisfied: LanusStats in c:\users\diego\anaconda3\lib\site-packages (1.7.6)
Requirement already satisfied: pandas in c:\users\diego\anaconda3\lib\site-packages (from LanusStats) (2.2.2)
Requirement already satisfied: mplsoccer in c:\users\diego\anaconda3\lib\site-packages (from LanusStats) (1.4.0)
Requirement already satisfied: requests in c:\users\diego\anaconda3\lib\site-packages (from LanusStats) (2.32.3)
Requirement already satisfied: matplotlib in c:\users\diego\anaconda3\lib\site-packages (from LanusStats) (3.9.2)
Requirement already satisfied: numpy in c:\users\diego\anaconda3\lib\site-packages (from LanusStats) (1.26.4)
Requirement already satisfied: bs4 in c:\users\diego\anaconda3\lib\site-packages (from LanusStats) (0.0.2)
Requirement already satisfied: Pillow in c:\users\diego\anaconda3\lib\site-packages (from LanusStats) (10.4.0)
Requirement already satisfied: beautifulsoup4 in c:\users\diego\anaconda3\lib\site-packages (from bs4->LanusStats) (4.12.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\diego\anaconda3\lib\site-packages (from matplotlib->LanusStats) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\diego\anaconda3\lib\site-packages (from matplotlib->LanusStats) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\diego\anaconda3\lib\site-packages (from matplotlib->LanusStats) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\diego\anaconda3\lib\site-packages (from matplotlib->LanusStats) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\diego\anaconda3\lib\site-packages (from matplotlib->LanusStats) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\diego\anaconda3\lib\site-packages (from matplotlib->LanusStats) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\diego\anaconda3\lib\site-packages (from matplotlib->LanusStats) (2.9.0.post0)
Requirement already satisfied: scipy in c:\users\diego\anaconda3\lib\site-packages (from mplsoccer->LanusStats) (1.13.1)
Requirement already satisfied: seaborn in c:\users\diego\anaconda3\lib\site-packages (from mplsoccer->LanusStats) (0.13.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\diego\anaconda3\lib\site-packages (from pandas->LanusStats) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\diego\anaconda3\lib\site-packages (from pandas->LanusStats) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\diego\anaconda3\lib\site-packages (from requests->LanusStats) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\diego\anaconda3\lib\site-packages (from requests->LanusStats) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\diego\anaconda3\lib\site-packages (from requests->LanusStats) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\diego\anaconda3\lib\site-packages (from requests->LanusStats) (2025.1.31)
Requirement already satisfied: six>=1.5 in c:\users\diego\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->LanusStats) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\diego\anaconda3\lib\site-packages (from beautifulsoup4->bs4->LanusStats) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import LanusStats as ls

In [5]:
fbref = ls.Fbref()
transfermarkt = ls.Transfermarkt()

In [6]:
ls.get_available_leagues("Fbref")

['Copa de la Liga',
 'Primera Division Argentina',
 'Primera Division Uruguay',
 'Brasileirao',
 'Brasileirao B',
 'Primera Division Colombia',
 'Primera Division Chile',
 'Primera Division Peru',
 'Primera Division Venezuela',
 'Primera Division Ecuador',
 'Primera Division Bolivia',
 'Primera Division Paraguay',
 'Brasileirao F',
 'MLS',
 'USL Championship',
 'Premier League',
 'La Liga',
 'Ligue 1',
 'Bundesliga',
 'Serie A',
 'Big 5 European Leagues',
 'Danish Superliga',
 'Eredivise',
 'Primeira Liga Portugal',
 'Copa America',
 'Euros',
 'Saudi League',
 'EFL Championship',
 'La Liga 2',
 'Belgian Pro League',
 'Challenger Pro League',
 '2. Bundesliga',
 'Ligue 2',
 'Serie B',
 'J1 League',
 'NSWL',
 'Wowens Super League',
 'Liga F',
 'Premier Division South Africa',
 'Champions League',
 'Europa League',
 'Conference League',
 'Copa Libertadores',
 'Liga MX']

In [7]:
cinco_grandes_ligas = ["Premier League", "La Liga", "Serie A", "Bundesliga", "Ligue 1"]
temporadas = []
for i in range(2023, 2024):
    temporadas.append(f"{i}-{i+1}")

In [8]:
PremierLeague_id_Equipo = {"Arsenal FC":11, "Aston Villa":405, "AFC Bournemouth":989, "Brentford FC":1148, "Brighton & Hove Albion":1237, "Chelsea FC":631, "Crystal Palace":873, "Everton FC":29, "Fulham FC":931, "Ipswich Town":677, "Leicester City":1003, "Liverpool FC":31, "Manchester City":281, "Manchester United":985, "Newcastle United":762, "Nottingham Forest":703, "Southampton FC":180, "Tottenham Hotspur":148, "West Ham United":379, "Wolverhampton Wanderers":543}

In [9]:
Bundeslisga_id_Equipo = {"Bayer 04 Leverkusen":15, "VfB Stuttgart":79, "Bayern Múnich":27, "RB Leipzig":23826, "Borussia Dortmund":16, "Eintracht Fráncfort​​":24, "TSG 1899 Hoffenheim":533, "1.FC Heidenheim 1846":2036, "SV Werder Bremen":86, "SC Friburgo":60, "FC Augsburgo":167, "VfL Wolfsburgo":82, "1.FSV Mainz 05":39, "Borussia Mönchengladbach":18, "1.FC Unión Berlín":89, "VfL Bochum":80, "FC St. Pauli":35, "Holstein Kiel":269}

In [10]:
SerieA_id_Equipo = {"Inter de Milán":46, "AC Milan":5, "Juventus de Turín":506, "Atalanta de Bérgamo":800, "Bolonia":1025, "AS Roma":12, "SS Lazio":398, "Fiorentina":430, "Torino FC":416, "SSC Nápoles":6195, "Génova":252, "AC Monza":2919, "Hellas Verona":276, "US Lecce":1005, "Udinese":410, "Cagliari":1390, "Empoli FC":749, "Parma":130, "Como 1907":1047, "Venezia FC":607}

In [11]:
Ligue1_id_Equipo = {"París Saint-Germain FC":583, "AS Mónaco":162, "Stade Brestois 29":3911, "LOSC Lille":1082, "OGC Niza":417, "Olympique de Lyon":1041, "RC Lens":826, "Olympique de Marsella":244, "Stade de Reims":1421, "Stade Rennais FC":273, "Toulouse FC":415, "Montpellier HSC":969, "Racing Club de Estrasburgo":667, "FC Nantes":995, "Le Havre AC":738, "AJ Auxerre":290, "Angers SCO":1420, "AS Saint-Étienne":618}

In [12]:
LaLiga_Equipo = ["Atlético de Madrid", "FC Barcelona", "Real Madrid CF", "Real Betis Balompié", "Sevilla FC", "CA Osasuna", "Real Sociedad", "Athletic Club", "Deportivo Alavés", "RC Celta de Vigo", "Valencia CF", "Villareal CF", "Getafe CF", "Rayo Vallecano", "RCD Mallorca", "UD Las Palmas", "Girona FC", "Real Valladolid CF", "CD Leganés", "RCD Espanyol"]
LaLiga_Equipo_id = [13, 131, 418, 150, 368, 331, 681, 621, 1108, 940, 1049, 1050, 3709, 367, 237, 472, 12321, 366, 1244, 714]
LaLiga_id_equipo = dict(zip(LaLiga_Equipo, LaLiga_Equipo_id))
LaLiga_id_equipo

{'Atlético de Madrid': 13,
 'FC Barcelona': 131,
 'Real Madrid CF': 418,
 'Real Betis Balompié': 150,
 'Sevilla FC': 368,
 'CA Osasuna': 331,
 'Real Sociedad': 681,
 'Athletic Club': 621,
 'Deportivo Alavés': 1108,
 'RC Celta de Vigo': 940,
 'Valencia CF': 1049,
 'Villareal CF': 1050,
 'Getafe CF': 3709,
 'Rayo Vallecano': 367,
 'RCD Mallorca': 237,
 'UD Las Palmas': 472,
 'Girona FC': 12321,
 'Real Valladolid CF': 366,
 'CD Leganés': 1244,
 'RCD Espanyol': 714}

In [13]:
Equipos_id = {}
Equipos_id.update(PremierLeague_id_Equipo)
Equipos_id.update(Bundeslisga_id_Equipo)
Equipos_id.update(SerieA_id_Equipo)
Equipos_id.update(Ligue1_id_Equipo)
Equipos_id.update(LaLiga_id_equipo)
Equipos_id.__len__()

96

In [14]:
Equipos_id

{'Arsenal FC': 11,
 'Aston Villa': 405,
 'AFC Bournemouth': 989,
 'Brentford FC': 1148,
 'Brighton & Hove Albion': 1237,
 'Chelsea FC': 631,
 'Crystal Palace': 873,
 'Everton FC': 29,
 'Fulham FC': 931,
 'Ipswich Town': 677,
 'Leicester City': 1003,
 'Liverpool FC': 31,
 'Manchester City': 281,
 'Manchester United': 985,
 'Newcastle United': 762,
 'Nottingham Forest': 703,
 'Southampton FC': 180,
 'Tottenham Hotspur': 148,
 'West Ham United': 379,
 'Wolverhampton Wanderers': 543,
 'Bayer 04 Leverkusen': 15,
 'VfB Stuttgart': 79,
 'Bayern Múnich': 27,
 'RB Leipzig': 23826,
 'Borussia Dortmund': 16,
 'Eintracht Fráncfort\u200b\u200b': 24,
 'TSG 1899 Hoffenheim': 533,
 '1.FC Heidenheim 1846': 2036,
 'SV Werder Bremen': 86,
 'SC Friburgo': 60,
 'FC Augsburgo': 167,
 'VfL Wolfsburgo': 82,
 '1.FSV Mainz 05': 39,
 'Borussia Mönchengladbach': 18,
 '1.FC Unión Berlín': 89,
 'VfL Bochum': 80,
 'FC St. Pauli': 35,
 'Holstein Kiel': 269,
 'Inter de Milán': 46,
 'AC Milan': 5,
 'Juventus de Turín': 506,
 'Atalanta de Bérgamo': 800,
 'Bolonia': 1025,
 'AS Roma': 12,
 'SS Lazio': 398,
 'Fiorentina': 430,
 'Torino FC': 416,
 'SSC Nápoles': 6195,
 'Génova': 252,
 'AC Monza': 2919,
 'Hellas Verona': 276,
 'US Lecce': 1005,
 'Udinese': 410,
 'Cagliari': 1390,
 'Empoli FC': 749,
 'Parma': 130,
 'Como 1907': 1047,
 'Venezia FC': 607,
 'París Saint-Germain FC': 583,
 'AS Mónaco': 162,
 'Stade Brestois 29': 3911,
 'LOSC Lille': 1082,
 'OGC Niza': 417,
 'Olympique de Lyon': 1041,
 'RC Lens': 826,
 'Olympique de Marsella': 244,
 'Stade de Reims': 1421,
 'Stade Rennais FC': 273,
 'Toulouse FC': 415,
 'Montpellier HSC': 969,
 'Racing Club de Estrasburgo': 667,
 'FC Nantes': 995,
 'Le Havre AC': 738,
 'AJ Auxerre': 290,
 'Angers SCO': 1420,
 'AS Saint-Étienne': 618,
 'Atlético de Madrid': 13,
 'FC Barcelona': 131,
 'Real Madrid CF': 418,
 'Real Betis Balompié': 150,
 'Sevilla FC': 368,
 'CA Osasuna': 331,
 'Real Sociedad': 681,
 'Athletic Club': 621,
 'Deportivo Alavés': 1108,
 'RC Celta de Vigo': 940,
 'Valencia CF': 1049,
 'Villareal CF': 1050,
 'Getafe CF': 3709,
 'Rayo Vallecano': 367,
 'RCD Mallorca': 237,
 'UD Las Palmas': 472,
 'Girona FC': 12321,
 'Real Valladolid CF': 366,
 'CD Leganés': 1244,
 'RCD Espanyol': 714}

# Creamos una clase para obtener la información con la que vamos a trabajar

In [15]:
class jugadores:

    def __init__(self, temporada, competicion):
        self.temporada = temporada
        self.competicion = competicion

    def get_jugadores(self):
        self.jugadores = fbref.get_player_season_stats('gca', self.competicion, season = self.temporada, save_csv=False, add_page_name=False)
        posiciones = list(self.jugadores["Pos"].unique())
        self.lista_delanteros = []
        for i in posiciones:
            if "FW" in i:
                self.lista_delanteros.append(i)
            else:
                pass
        return self.jugadores

    def get_delanteros(self):
        self.delanteros = self.jugadores[self.jugadores["Pos"].isin(self.lista_delanteros)]
        return self.delanteros

    def variables_numericas(self):
        variables_numericas = ["Age", "Born", "90s", "SCA", "SCA90", "PassLive", "PassDead", 'TO', 'Sh', 'Fld', 'Def', 'GCA','GCA90', 'PassLive', 'PassDead', 'TO', 'Sh', 'Fld', 'Def']
        for i in variables_numericas:
            self.delanteros[i] = self.delanteros[i].astype(float)
        for i in self.delanteros.columns:
            if i not in variables_numericas + ["Player"] + ["Squad"]:
                self.delanteros = self.delanteros.drop(i, axis = 1)

        # eliminar acentos de los nombres de los jugadores
        self.delanteros["Player"] = self.delanteros["Player"].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
        return self.delanteros

# class Precios_jugadores:
#     def __init__(self, temporada, equipo, equipo_id):
#         self.temporada = temporada
#         self.equipo = equipo
#         self.equipo_id = equipo_id

#     def get_precio(self):
#         self.precio_equipo = transfermarkt.scrape_players_for_teams(team_name = self.equipo, team_id = self.equipo_id, season = self.temporada)
#         return self.precio_equipo

class Precios_jugadores:
    def __init__(self, temporada, equipo, equipo_id):
        self.temporada = temporada
        self.equipo = equipo
        self.equipo_id = equipo_id

    def get_precio(self):
        try:
            
            self.precio_equipo = transfermarkt.scrape_players_for_teams(
                team_name=self.equipo, team_id=self.equipo_id, season=self.temporada
            )
        except AttributeError as e:
            
            print(f"Error en el equipo: {self.equipo} ({self.equipo_id}) temporada: {self.temporada}: {e}")
            self.precio_equipo = pd.DataFrame()

        return self.precio_equipo

In [16]:
def limpiar_data(dataframe):
    dataframe = dataframe.drop(columns=["#", "Posicion", "Fecha de nac.", "Fichado", "Pais", "Seg nacionalidad", "equipo", "Año nac."])
    dataframe = dataframe.rename(columns={"Jugadores": "Player", "Altura": "Altura", "Pie": "Pie", "Valor de mercado": "Valor de mercado"})
    dataframe["Player"] = dataframe["Player"].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
    return dataframe

def limpiar_data_2(dataframe):
    # Reemplazar "," por "."
    dataframe["Valor de mercado"] = dataframe["Valor de mercado"].str.replace(",", ".")
    # Reemplazar "mill. €" por ""
    for i in range(dataframe.shape[0]):
        if "mill. €" in dataframe["Valor de mercado"][i]:
            dataframe.loc[i, "Valor de mercado"] = dataframe.loc[i, "Valor de mercado"].replace("mill. €", "")
    # Reemplazar "mil " dividiendo por 1000

    for j in range(dataframe.shape[0]):
        if "mil €" in dataframe["Valor de mercado"][j]:
            dataframe.loc[j, "Valor de mercado"] = dataframe.loc[j, "Valor de mercado"].replace("mil €", "")
            dataframe.loc[j, "Valor de mercado"] = float(dataframe.loc[j, "Valor de mercado"]) / 1000
    # Reemplazar "-" por 0
    dataframe["Valor de mercado"] = dataframe["Valor de mercado"].replace("-", 0)
    dataframe.drop_duplicates(inplace = True)
    return dataframe

In [17]:
# Obtenemos la información de las ligas y las temporadas
df_final_jugadores = pd.DataFrame()
valor_equipo = pd.DataFrame()
precio = pd.DataFrame()
for i in temporadas:
    for j in cinco_grandes_ligas:
        print(f"*****Competición: {j} - Temporada: {i}*****")

        # Obtener jugadores
        jugador = jugadores(i, j)
        jugador.get_jugadores()
        jugador.get_delanteros()
        df = jugador.variables_numericas()
        df_2 = pd.DataFrame(df)
        df_final_jugadores = pd.concat([df_final_jugadores, df_2], axis=0)

        

        # Obtener precios de jugadores por equipo
    for k in Equipos_id.keys():
        print(f"*****Equipo: {k} - Temporada: {i[5:]}*****")
        precio_jugador = Precios_jugadores(i[5:], k, Equipos_id[k])
        valor_equipo = pd.concat([valor_equipo, precio_jugador.get_precio()], axis=0)

  # Limpiar y unir los datos
    precio = limpiar_data(valor_equipo)

  # Asegúrate de que estas columnas existen en ambos DataFrames
  #columnas_union = ["Player"]  # Ajusta si se llaman diferente

    df_final_precios = pd.merge(df_final_jugadores, precio, on=["Player"], how="inner")

*****Competición: Premier League - Temporada: 2023-2024*****
Starting to scrape player data from Fbref...
*****Competición: La Liga - Temporada: 2023-2024*****
Starting to scrape player data from Fbref...
*****Competición: Serie A - Temporada: 2023-2024*****
Starting to scrape player data from Fbref...
*****Competición: Bundesliga - Temporada: 2023-2024*****
Starting to scrape player data from Fbref...
*****Competición: Ligue 1 - Temporada: 2023-2024*****
Starting to scrape player data from Fbref...
*****Equipo: Arsenal FC - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Aston Villa - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: AFC Bournemouth - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Brentford FC - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Brighton & Hove Albion - Temporada: 2024*****
Error en el equipo: Brighton & Hove Albion (1237) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Chelsea FC - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Crystal Palace - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Everton FC - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Fulham FC - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Ipswich Town - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Leicester City - Temporada: 2024*****
Error en el equipo: Leicester City (1003) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Liverpool FC - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Manchester City - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Manchester United - Temporada: 2024*****
Error en el equipo: Manchester United (985) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Newcastle United - Temporada: 2024*****
Error en el equipo: Newcastle United (762) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Nottingham Forest - Temporada: 2024*****
Error en el equipo: Nottingham Forest (703) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Southampton FC - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Tottenham Hotspur - Temporada: 2024*****
Error en el equipo: Tottenham Hotspur (148) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: West Ham United - Temporada: 2024*****
Error en el equipo: West Ham United (379) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Wolverhampton Wanderers - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Bayer 04 Leverkusen - Temporada: 2024*****
Error en el equipo: Bayer 04 Leverkusen (15) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: VfB Stuttgart - Temporada: 2024*****
Error en el equipo: VfB Stuttgart (79) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Bayern Múnich - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: RB Leipzig - Temporada: 2024*****
Error en el equipo: RB Leipzig (23826) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Borussia Dortmund - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Eintracht Fráncfort​​ - Temporada: 2024*****
Error en el equipo: Eintracht Fráncfort​​ (24) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: TSG 1899 Hoffenheim - Temporada: 2024*****
Error en el equipo: TSG 1899 Hoffenheim (533) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: 1.FC Heidenheim 1846 - Temporada: 2024*****
Error en el equipo: 1.FC Heidenheim 1846 (2036) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: SV Werder Bremen - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: SC Friburgo - Temporada: 2024*****
Error en el equipo: SC Friburgo (60) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: FC Augsburgo - Temporada: 2024*****
Error en el equipo: FC Augsburgo (167) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: VfL Wolfsburgo - Temporada: 2024*****
Error en el equipo: VfL Wolfsburgo (82) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: 1.FSV Mainz 05 - Temporada: 2024*****
Error en el equipo: 1.FSV Mainz 05 (39) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Borussia Mönchengladbach - Temporada: 2024*****
Error en el equipo: Borussia Mönchengladbach (18) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: 1.FC Unión Berlín - Temporada: 2024*****
Error en el equipo: 1.FC Unión Berlín (89) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: VfL Bochum - Temporada: 2024*****
Error en el equipo: VfL Bochum (80) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: FC St. Pauli - Temporada: 2024*****
Error en el equipo: FC St. Pauli (35) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Holstein Kiel - Temporada: 2024*****
Error en el equipo: Holstein Kiel (269) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Inter de Milán - Temporada: 2024*****
Error en el equipo: Inter de Milán (46) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: AC Milan - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Juventus de Turín - Temporada: 2024*****
Error en el equipo: Juventus de Turín (506) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Atalanta de Bérgamo - Temporada: 2024*****
Error en el equipo: Atalanta de Bérgamo (800) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Bolonia - Temporada: 2024*****
Error en el equipo: Bolonia (1025) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: AS Roma - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: SS Lazio - Temporada: 2024*****
Error en el equipo: SS Lazio (398) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Fiorentina - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Torino FC - Temporada: 2024*****
Error en el equipo: Torino FC (416) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: SSC Nápoles - Temporada: 2024*****
Error en el equipo: SSC Nápoles (6195) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Génova - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: AC Monza - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Hellas Verona - Temporada: 2024*****
Error en el equipo: Hellas Verona (276) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: US Lecce - Temporada: 2024*****
Error en el equipo: US Lecce (1005) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Udinese - Temporada: 2024*****
Error en el equipo: Udinese (410) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Cagliari - Temporada: 2024*****
Error en el equipo: Cagliari (1390) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Empoli FC - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Parma - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Como 1907 - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Venezia FC - Temporada: 2024*****
Error en el equipo: Venezia FC (607) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: París Saint-Germain FC - Temporada: 2024*****
Error en el equipo: París Saint-Germain FC (583) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: AS Mónaco - Temporada: 2024*****
Error en el equipo: AS Mónaco (162) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Stade Brestois 29 - Temporada: 2024*****
Error en el equipo: Stade Brestois 29 (3911) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: LOSC Lille - Temporada: 2024*****
Error en el equipo: LOSC Lille (1082) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: OGC Niza - Temporada: 2024*****
Error en el equipo: OGC Niza (417) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Olympique de Lyon - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: RC Lens - Temporada: 2024*****
Error en el equipo: RC Lens (826) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Olympique de Marsella - Temporada: 2024*****
Error en el equipo: Olympique de Marsella (244) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Stade de Reims - Temporada: 2024*****
Error en el equipo: Stade de Reims (1421) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Stade Rennais FC - Temporada: 2024*****
Error en el equipo: Stade Rennais FC (273) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Toulouse FC - Temporada: 2024*****
Error en el equipo: Toulouse FC (415) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Montpellier HSC - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Racing Club de Estrasburgo - Temporada: 2024*****
Error en el equipo: Racing Club de Estrasburgo (667) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: FC Nantes - Temporada: 2024*****
Error en el equipo: FC Nantes (995) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Le Havre AC - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: AJ Auxerre - Temporada: 2024*****
Error en el equipo: AJ Auxerre (290) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Angers SCO - Temporada: 2024*****
Error en el equipo: Angers SCO (1420) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: AS Saint-Étienne - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Atlético de Madrid - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: FC Barcelona - Temporada: 2024*****
Error en el equipo: FC Barcelona (131) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Real Madrid CF - Temporada: 2024*****
Error en el equipo: Real Madrid CF (418) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Real Betis Balompié - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Sevilla FC - Temporada: 2024*****
Error en el equipo: Sevilla FC (368) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: CA Osasuna - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Real Sociedad - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Athletic Club - Temporada: 2024*****
Error en el equipo: Athletic Club (621) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Deportivo Alavés - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: RC Celta de Vigo - Temporada: 2024*****
Error en el equipo: RC Celta de Vigo (940) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Valencia CF - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: Villareal CF - Temporada: 2024*****
Error en el equipo: Villareal CF (1050) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Getafe CF - Temporada: 2024*****
Error en el equipo: Getafe CF (3709) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Rayo Vallecano - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: RCD Mallorca - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: UD Las Palmas - Temporada: 2024*****
Error en el equipo: UD Las Palmas (472) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Girona FC - Temporada: 2024*****
Error en el equipo: Girona FC (12321) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: Real Valladolid CF - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']
*****Equipo: CD Leganés - Temporada: 2024*****
Error en el equipo: CD Leganés (1244) temporada: 2024: 'NoneType' object has no attribute 'find'
*****Equipo: RCD Espanyol - Temporada: 2024*****
['#', 'Jugadores', 'F. Nacim./Edad', 'Nac.', 'Club actual', 'Altura', 'Pie', 'Fichado', 'antes', 'Valor de mercado', 'Pais', 'Seg nacionalidad']

In [18]:
df_final_precios.head()

,Player,Squad,Age,Born,90s,SCA,SCA90,PassLive,PassDead,TO,Sh,Fld,Def,GCA,GCA90,PassLive,PassDead,TO,Sh,Fld,Def,Altura,Pie,Valor de mercado
0,Naouirou Ahamada,Crystal Palace,21.0,2002.0,3.9,9.0,2.30,9.0,0.0,0.0,0.0,0.0,0.0,3.0,0.77,3.0,0.0,0.0,0.0,0.0,0.0,"1,83m",Derecho,"8,00 mill. €"
1,Julian Alvarez,Manchester City,23.0,2000.0,29.4,118.0,4.01,74.0,28.0,4.0,10.0,2.0,0.0,15.0,0.51,12.0,1.0,0.0,0.0,2.0,0.0,"1,70m",Derecho,"90,00 mill. €"
2,Jaidon Anthony,Bournemouth,23.0,1999.0,1.7,3.0,1.78,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,"1,83m",Derecho,"6,00 mill. €"
3,Cameron Archer,Sheffield Utd,22.0,2001.0,20.4,49.0,2.41,32.0,0.0,9.0,5.0,1.0,2.0,4.0,0.20,2.0,0.0,1.0,1.0,0.0,0.0,"1,75m",Derecho,"13,00 mill. €"
4,Jordan Ayew,Crystal Palace,31.0,1991.0,28.3,72.0,2.55,40.0,5.0,5.0,7.0,12.0,3.0,12.0,0.42,10.0,0.0,1.0,0.0,1.0,0.0,"1,82m",Derecho,"4,00 mill. €"

In [19]:
df_final_precios_limp = limpiar_data_2(df_final_precios)
df_final_precios_limp.head()

,Player,Squad,Age,Born,90s,SCA,SCA90,PassLive,PassDead,TO,Sh,Fld,Def,GCA,GCA90,PassLive,PassDead,TO,Sh,Fld,Def,Altura,Pie,Valor de mercado
0,Naouirou Ahamada,Crystal Palace,21.0,2002.0,3.9,9.0,2.30,9.0,0.0,0.0,0.0,0.0,0.0,3.0,0.77,3.0,0.0,0.0,0.0,0.0,0.0,"1,83m",Derecho,8.00
1,Julian Alvarez,Manchester City,23.0,2000.0,29.4,118.0,4.01,74.0,28.0,4.0,10.0,2.0,0.0,15.0,0.51,12.0,1.0,0.0,0.0,2.0,0.0,"1,70m",Derecho,90.00
2,Jaidon Anthony,Bournemouth,23.0,1999.0,1.7,3.0,1.78,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,"1,83m",Derecho,6.00
3,Cameron Archer,Sheffield Utd,22.0,2001.0,20.4,49.0,2.41,32.0,0.0,9.0,5.0,1.0,2.0,4.0,0.20,2.0,0.0,1.0,1.0,0.0,0.0,"1,75m",Derecho,13.00
4,Jordan Ayew,Crystal Palace,31.0,1991.0,28.3,72.0,2.55,40.0,5.0,5.0,7.0,12.0,3.0,12.0,0.42,10.0,0.0,1.0,0.0,1.0,0.0,"1,82m",Derecho,4.00

In [20]:
df_final_precios_limp.shape

(337, 24)

In [21]:
df_final_precios_limp.to_csv("df_final_precios_limpios.csv", index = False)